{#
//////////////////////////////////
get image url from media field:
{{ file_url(content.field_background_image[0]['#media'].field_media_image.entity.uri.value) }}
//////////////////////////////////
get image url from image field:
{{ file_url(content.field_background_image.0['#item'].entity.uri.value) }}
//////////////////////////////////
AVAILABLE FIELDS
//////////////////////////////////
field_accent_color
field_background_color
field_background_image
field_background_video
field_body
field_body_alignment
field_custom_css
field_floating_image
field_floating_image_alignment
field_main_color

#}

{% block content %}

<style>
{% if content.field_main_color|render is not empty %}
#{{ attributes.id }}.masterpane-outer {
	color: {{ content.field_main_color.0 }};
}
{% endif %}
{% if content.field_background_color|render is not empty %}
#{{ attributes.id }}.masterpane-outer {
	background-color: {{ content.field_background_color.0 }};
}
{% endif %}
{% if content.field_background_image|render is not empty %}
#{{ attributes.id }}.masterpane-outer {
	background-image: url({{ file_url(content.field_background_image[0]['#media'].field_media_image.entity.uri.value) }});
}
{% endif %}
{% if content.field_accent_color|render is not empty %}
#{{ attributes.id }} .accent {
	color: {{ content.field_accent_color.0 }};
}
{% endif %}
{% if content.field_floating_image_alignment|render is not empty %}
#{{ attributes.id }} .floating-image img {
	width: 100%;
	height: auto;
}
{% endif %}
{% if content.field_custom_css|render is not empty %}
/* styles added in block css field, scope to this block id: */
{% set thisClass %}#{{ attributes.id }} .{% endset %}
{{ content.field_custom_css.0 | render | replace({'.': thisClass}) }}
{% endif %}
</style>

<div {{ attributes.addClass('masterpane-outer')}} >
	<div class="masterpane-inner {{ content.field_body_alignment.0 }}">

		{{ title_prefix }}{{ title_suffix }}

		{% if content.field_body|render is not empty %}
		<div class="content">
			<!-- <h2 class="accent">accent test</h2> -->
			{% set bodycopy =  content.field_body.0 | render  %}
			{{ bodycopy | replace({'<s>': '<s><span>', '</s>': '</span></s>'}) | raw }}
		</div>
		{% endif %}

		{% if content.field_floating_image|render is not empty %}
		<div class="floating-image {{ content.field_floating_image_alignment.0 }}">
			<img src="{{ file_url(content.field_floating_image[0]['#media'].field_media_image.entity.uri.value) }}">
		</div>
		{% endif %}

		{{ content.field_background_video }}

		{#% if content.field_background_image|render is not empty %}
		<div class="bg-img">
			{{ file_url(content.field_background_image[0]['#media'].field_media_image.entity.uri.value) }}
		</div>
		{% endif %#}

	</div>
</div>
{% endblock %}