{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}



{% block content %}

	{# PRINT CONTENT | WITHOUT SPECIFIED FIELD #}
	<div class="home-pane-outer">

		<div class="home-pane-inner {{ content.field_alignment.0 }}">

			{{ title_prefix }}
		 	 {% if label %}
			    <h3{{ title_attributes }}>{{ label }}</h3>
			  {% endif %}
			 {{ title_suffix }}

			<div class="content">
				<h3>{{ content.field_headline.0 }}</h3>
				{{ content|without('field_image','field_headline',"field_alignment") }}
			</div>

			{# CHECK IF FIELD IS NOT EMPTY #}
			{% if content.field_image|render %}
			 {# NOT EMPTY? PRINT #}
			 
			  <div class="img">
			  	<img src="{{ file_url(content.field_image.0['#item'].entity.uri.value) }}" class="block-img" />
			  </div>
			  
			{% endif %}

		</div>
	</div>

{% endblock %}
