{#
/**
 * @file
 * Default theme implementation to display a single interior page page.
 * CUSTOM
#}

{# Navbar #}
{% if page.navigation_left or page.navigation_center or page.navigation_right or page.navigation_collapsible %}
    <header class="navbar {% if is_front %} front{% endif %}" id="navbar" role="banner">

      <div class="navbar-header">

		<div class="navbar-header-left">
			{{ page.navigation_left }} 
		</div>

  		<div class="navbar-header-right"> 
			{{ page.navigation_right }}
			{# .btn-navbar is used as the toggle for collapsed navbar content #}
			{% if page.navigation_collapsible %}
				<button type="button" id="navbar_toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fas fa-bars"></span>
					<span class="fas fa-times"></span>
				</button>
			{% endif %}
        </div>

      </div>{# /.navbar-header #}

      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
        <div id="navbar-collapse" class="collapse">
            <div class="navbar-collapse-left">{{ page.navigation_collapsible }}</div>
            {% if page.navigation_collapsible_right %}
            	<div class="navbar-collapse-right">
						{{ page.navigation_collapsible_right }}
				</div>
	      	{% endif %}
          </div>
      {% endif %}

    </header>
{% endif %}

<div class="hero-container">
	{% if page.hero %}
			{{ page.hero }}
	{% else %}
		{% if page.header %}
			  <div class="block-header container" role="heading">
				{{ page.header }}
			  </div>
		{% endif %}
	{% endif %}
</div>

<div class="page-container">

	{# Main #}

		{% if is_front %}

			{% if page.home_jumbotron %}
				{{ page.home_jumbotron }}
			{% endif %}

			<div class="container">
				<div class="row home-3">
					{% if page.home_block_1 %}
						<section class="home-block-1 col-md-4">
						<div class="inner">
						{{ page.home_block_1 }}
						</div>
						</section>
					{% endif %}

					{% if page.home_block_2 %}
						<section class="home-block-2 col-md-4">
						<div class="inner">
						{{ page.home_block_2 }}
						</div>
						</section>
					{% endif %}	

					{% if page.home_block_3 %}
						<section class="home-block-3 col-md-4">
						<div class="inner">
						{{ page.home_block_3 }} 
						</div>
						</section>
					{% endif %}
				</div>
			</div>
			{% endif %}


		{% else %}
			{% if page.interior_jumbotron %}
				{{ page.interior_jumbotron }}
			{% endif %}
			<div id="main_content" role="main" class="main-container-outer js-quickedit-main-content">


				<div class="main-container" >
					{# Interior #}

					{# Sidebar First #}
					{% if page.sidebar_first %}
						<aside class="col col-sm-6" role="complementary">
						{{ page.sidebar_first }}
						</aside>
					{% endif %}

					{# Content #}
					{%
					set content_classes = [
					page.sidebar_first and page.sidebar_second ? 'col col-sm-6',
					page.sidebar_first and page.sidebar_second is empty ? 'col col-sm-6',
					page.sidebar_second and page.sidebar_first is empty ? 'col col-sm-9',
					page.sidebar_first is empty and page.sidebar_second is empty ? 'col col-sm-12'
					]
					%}
					<section{{ content_attributes.addClass(content_classes) }}>

						{# Highlighted #}
						{% if page.highlighted %}
						<div class="highlighted">{{ page.highlighted }}</div>
						
						{% endif %}

						{# Breadcrumbs #}
						{% if breadcrumb %}
						{{ breadcrumb }}
						
						{% endif %}

						{# Action Links #}
						{% if action_links %}
						<ul class="action-links">{{ action_links }}</ul>
						{% endif %}

						{# Help #}
						{% if page.help %}
						{{ page.help }}       
						{% endif %}

						{# Non-home Content #}
						{{ page.content }}

					</section>



					{# Sidebar Second #}
					{% if page.sidebar_second %}
					<aside class="col col-sm-3" role="complementary">
					{{ page.sidebar_second }}
					</aside>
					{% endif %}
					
				</div>
			</div><!-- /main-container -->
		{% endif %}

	{% if page.after_content %}
		  <div class="after-content">
  			{{ page.after_content }}
      	  </div>
	{% endif %}	

	{% if page.footer_action %}
		  <div class="footer-action">
  			{{ page.footer_action }}
          </div>
	{% endif %}	

	{% if (page.footer_top_center) or (page.footer_upper_left) or (page.footer_upper_right) or (page.footer_lower_left) or (page.footer_lower_right) or (page.footer_bottom_center) %}
		<footer class="main-footer-outer container">
			<div class="main-footer">

				{% if page.footer_top_center %}
				  	<div class="footer-top-outer">
					  <div class="footer-top-center">{{ page.footer_top_center }}</div>
					</div>
				{% endif %}


				{% if page.footer_upper_left or page.footer_upper_right %}
					<div class="footer-upper-outer">
             			{% if page.footer_upper_left %}
                 				<div class="footer-upper-left">{{ page.footer_upper_left }}</div>	
             			{% endif %}
						
						{% if page.footer_upper_right %}
							  <div class="footer-upper-right">{{ page.footer_upper_right }}</div>
						{% endif %}
					</div>
				{% endif %}

				{% if page.footer_center_center %}
					<div class="footer-center-outer">
						{% if page.footer_center_center %}
							  <div class="footer-center-center col col-sm-12">{{ page.footer_center_center }}</div>
						{% endif %}
					</div>
				{% endif %}

				{% if page.footer_lower_left or page.footer_lower_right %}
					<div class="footer-lower-outer">			
						{% if page.footer_lower_left %}
							  <div class="footer-lower-left">{{ page.footer_lower_left }}</div>
						{% endif %}
						{% if page.footer_lower_right %}
							  <div class="footer-lower-right">{{ page.footer_lower_right }}</div>
						{% endif %}	
					</div>
				{% endif %}

				{% if page.footer_bottom_center %}
						<div class="footer-bottom-outer">
							<div class="footer-bottom-center">{{ page.footer_bottom_center }}</div>
						</div>
				{% endif %}

        {% if page.disclaimer %}
            <div class="disclaimer-outer"><div class="disclaimer">{{ page.disclaimer }}</div></div>
        {% endif %}

			</div><!-- /container -->
		</footer>
	{% endif %}
</div><!-- /page-container -->

{% if page.tracking_footer %}
	{{ page.tracking_footer }}
{% endif %}