{#
/**
 * @file
 * Default theme implementation to display a single interior page page.
 * CUSTOM
#}

{% if page.tracking_header %}
	{{ page.homtracking_headere_jumbotron }}
{% endif %}

{# Navbar #}
{% if page.navigation_left or page.navigation_right %}
<nav class="navbar navbar-main bg-t" aria-label="Branding and navigation">
	<div class="container">
		{{ page.navigation_left }}
		<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fa-solid fa-bars"></i>
		</button>

		<div class="navbar-collapse collapse" id="mainNavBar" style="">
			{{ page.navigation_right }}
		</div>
	</div>
</nav>
{% endif %}

<div class="page-container">

	{# Main #}
	{% if page.home_hero %}
		{{ page.home_hero }}
	{% endif %}

	{% if page.interior_hero %}
		{{ page.interior_hero }}
	{% endif %}
	
	<div id="main_content" role="main" class="main-container-outer js-quickedit-main-content">


		<div class="main-container container" >
			{# Interior #}

			{# Sidebar First #}
			{% if page.sidebar_first %}
				<aside class="col col-sm-6" role="complementary">
				{{ page.sidebar_first }}
				</aside>
			{% endif %}

			{# Content #}
			{%
			set content_classes = [
			page.sidebar_first and page.sidebar_second ? 'col col-sm-6',
			page.sidebar_first and page.sidebar_second is empty ? 'col col-sm-6',
			page.sidebar_second and page.sidebar_first is empty ? 'col col-sm-9',
			page.sidebar_first is empty and page.sidebar_second is empty ? 'col col-sm-12'
			]
			%}
			<section{{ content_attributes.addClass(content_classes) }}>

				{# Highlighted #}
				{% if page.highlighted %}
				<div class="highlighted">{{ page.highlighted }}</div>
				
				{% endif %}

				{# Breadcrumbs #}
				{% if breadcrumb %}
				{{ breadcrumb }}
				
				{% endif %}

				{# Action Links #}
				{% if action_links %}
				<ul class="action-links">{{ action_links }}</ul>
				{% endif %}

				{# Help #}
				{% if page.help %}
				{{ page.help }}       
				{% endif %}

				{# Non-home Content #}
				{{ page.content }}

			</section>



			{# Sidebar Second #}
			{% if page.sidebar_second %}
			<aside class="col col-sm-3" role="complementary">
			{{ page.sidebar_second }}
			</aside>
			{% endif %}
			
		</div>
	</div><!-- /main-container -->

	{% if page.after_content %}
		  <div class="after-content">
  			{{ page.after_content }}
      	  </div>
	{% endif %}	

	{% if page.footer_action %}
		  <div class="footer-action">
  			{{ page.footer_action }}
          </div>
	{% endif %}	

	{% if (page.footer_top_center) or (page.footer_upper_left) or (page.footer_upper_right) or (page.footer_lower_left) or (page.footer_lower_right) or (page.footer_bottom_center) %}
		<footer class="main-footer-outer">
			<div class="main-footer container">
				
					{% if page.footer_top_center %}
						<div class="footer-top-outer row">
							<div class="footer-top-center">{{ page.footer_top_center }}</div>
						</div>
					{% endif %}
				

					{% if page.footer_upper_left or page.footer_upper_right %}
						<div class="footer-upper-outer row mb-5">
							{% if page.footer_upper_left %}
									<div class="footer-upper-left col-sm-6">{{ page.footer_upper_left }}</div>	
							{% endif %}
							
							{% if page.footer_upper_right %}
								<div class="footer-upper-right col-sm-6">{{ page.footer_upper_right }}</div>
							{% endif %}
						</div>
					{% endif %}

					{% if page.footer_center_center %}
						<div class="footer-center-outer row">
							{% if page.footer_center_center %}
								<div class="footer-center-center col-12">{{ page.footer_center_center }}</div>
							{% endif %}
						</div>
					{% endif %}

					{% if page.footer_lower_left or page.footer_lower_right %}
						<div class="footer-lower-outer row mb-5">			
							{% if page.footer_lower_left %}
								<div class="footer-lower-left col-sm-6">{{ page.footer_lower_left }}</div>
							{% endif %}
							{% if page.footer_lower_right %}
								<div class="footer-lower-right col-sm-6">{{ page.footer_lower_right }}</div>
							{% endif %}	
						</div>
					{% endif %}

					{% if page.footer_bottom_center %}
						<div class="footer-bottom-outer row">
							<div class="footer-bottom-center col-12">{{ page.footer_bottom_center }}</div>
						</div>
					{% endif %}

					{% if page.disclaimer %}
						<div class="disclaimer-outer row">
							<div class="disclaimer">
								{{ page.disclaimer }}
							</div>
						</div>
					{% endif %}

			</div>
		</footer>
	{% endif %}

</div><!-- /page-container -->

{% if page.tracking_footer %}
	{{ page.tracking_footer }}
{% endif %}