{#
/**
 * @file
 * Default theme implementation to display a single interior page page.
 * CUSTOM
#}

{# Navbar #}
{% if page.navigation_left or page.navigation_center or page.navigation_right or page.navigation_collapsible %}
  {% block navbar %}
    <header class="navbar {% if is_front %} front{% endif %}" id="navbar" role="banner">

      <div class="navbar-header">

		<div class="navbar-header-left">
			{{ page.navigation_left }} 
		</div>

  		<div class="navbar-header-right"> 
			{{ page.navigation_right }}
			{# .btn-navbar is used as the toggle for collapsed navbar content #}
			{% if page.navigation_collapsible %}
				<button type="button" id="navbar_toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fas fa-bars"></span>
					<span class="fas fa-times"></span>
				</button>
			{% endif %}
        </div>

      </div>{# /.navbar-header #}

      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
        <div id="navbar-collapse" class="collapse">
            <div class="navbar-collapse-left">{{ page.navigation_collapsible }}</div>
            {% if page.navigation_collapsible_right %}
            	<div class="navbar-collapse-right">
					{% block navigation_collapsible_right %}
						{{ page.navigation_collapsible_right }}
					{% endblock %}
				</div>
	      	{% endif %}
          </div>
      {% endif %}

    </header>
  {% endblock %}
{% endif %}

<div class="hero-container">
	{% if page.hero %}
		{% block hero %}
			{{ page.hero }}
		{% endblock %}
	{% else %}
		{% if page.header %}
			{% block header %}
			  <div class="block-header container" role="heading">
				{{ page.header }}
			  </div>
			{% endblock %}
		{% endif %}
	{% endif %}
</div>

<div class="page-container">

	{# Main #}
	{% block main %}

		{% if page.interior_jumbotron %}
			{% block interior_jumbotron %}
				{{ page.interior_jumbotron }}
			{% endblock %}
		{% endif %}

		<div id="main_content" role="main" class="main-container-outer js-quickedit-main-content">


		      <div class="main-container" >
		        {# Interior #}

		        {# Sidebar First #}
		        {% if page.sidebar_first %}
		        	test 1
			        {% block sidebar_first %}
			        	test 2
			          <aside class="col col-sm-6" role="complementary">
			          {{ page.sidebar_first }}
			          </aside>
			        {% endblock %}
		        {% endif %}

		        {# Content #}
		        {%
		        set content_classes = [
		          page.sidebar_first and page.sidebar_second ? 'col col-sm-6',
		          page.sidebar_first and page.sidebar_second is empty ? 'col col-sm-6',
		          page.sidebar_second and page.sidebar_first is empty ? 'col col-sm-9',
		          page.sidebar_first is empty and page.sidebar_second is empty ? 'col col-sm-12'
		        ]
		        %}
		        <section{{ content_attributes.addClass(content_classes) }}>

			        {# Highlighted #}
			        {% if page.highlighted %}
			          {% block highlighted %}
			          <div class="highlighted">{{ page.highlighted }}</div>
			          {% endblock %}
			        {% endif %}

			        {# Breadcrumbs #}
			        {% if breadcrumb %}
			          {% block breadcrumb %}
			          {{ breadcrumb }}
			          {% endblock %}
			        {% endif %}

			        {# Action Links #}
			        {% if action_links %}
			          {% block action_links %}
			          <ul class="action-links">{{ action_links }}</ul>
			          {% endblock %}
			        {% endif %}

			        {# Help #}
			        {% if page.help %}
			          {% block help %}
			          {{ page.help }}
			          {% endblock %}
			        {% endif %}

			        {# Non-home Content #}
			        {% block content %}
			          {{ page.content }}
			        {% endblock %}

			       {#{% endif %}	 what's this? #}
		  		</section>



		        {# Sidebar Second #}
		        {% if page.sidebar_second %}
		        {% block sidebar_second %}
		          <aside class="col col-sm-3" role="complementary">
		          {{ page.sidebar_second }}
		          </aside>
		        {% endblock %}
		        {% endif %}
		        
		      </div>
		</div><!-- /main-container -->

	{% endblock %}

	{% if page.after_content %}
		{% block after_content %}
		  <div class="after-content">
  			{{ page.after_content }}
      	  </div>
		{% endblock %}
	{% endif %}	

	{% if page.footer_action %}
		{% block footer_action %}
		  <div class="footer-action">
  			{{ page.footer_action }}
          </div>
		{% endblock %}
	{% endif %}	

	{% if (page.footer_top_center) or (page.footer_upper_left) or (page.footer_upper_right) or (page.footer_lower_left) or (page.footer_lower_right) or (page.footer_bottom_center) %}
		<footer class="main-footer-outer">
			<div class="main-footer">

				{% if page.footer_top_center %}
				  {% block footer_top_center %}
				  	<div class="footer-top-outer">
					  <div class="footer-top-center">{{ page.footer_top_center }}</div>
					</div>
				  {% endblock %}
				{% endif %}

				{% if page.footer_upper_left or page.footer_upper_right %}
					<div class="footer-upper-outer">
             			{% if page.footer_upper_left %}
               				{% block footer_upper_left %}
                 				<div class="footer-upper-left">{{ page.footer_upper_left }}</div>
                			{% endblock %}
             			{% endif %}
						
						{% if page.footer_upper_right %}
						  {% block footer_upper_right %}
							  <div class="footer-upper-right">{{ page.footer_upper_right }}</div>
						  {% endblock %}
						{% endif %}
					</div>
				{% endif %}

				{% if page.footer_center_center %}
					<div class="footer-center-outer">
						{% if page.footer_center_center %}
						  {% block footer_center_center %}
							  <div class="footer-center-center col col-sm-12">{{ page.footer_center_center }}</div>
						  {% endblock %}
						{% endif %}
					</div>
				{% endif %}

				{% if page.footer_lower_left or page.footer_lower_right %}
					<div class="footer-lower-outer">			
						{% if page.footer_lower_left %}
						  {% block footer_lower_left %}
							  <div class="footer-lower-left">{{ page.footer_lower_left }}</div>
						  {% endblock %}
						{% endif %}
						{% if page.footer_lower_right %}
						  {% block footer_lower_right %}
							  <div class="footer-lower-right">{{ page.footer_lower_right }}</div>
						  {% endblock %}
						{% endif %}	
					</div>
				{% endif %}

				{% if page.footer_bottom_center %}
					{% block footer_bottom_center %}
						<div class="footer-bottom-outer">
							<div class="footer-bottom-center">{{ page.footer_bottom_center }}</div>
						</div>
					{% endblock %}
				{% endif %}

		        {% if page.disclaimer %}
		          {% block disclaimer %}
		            <div class="disclaimer-outer"><div class="disclaimer">{{ page.disclaimer }}</div></div>
		          {% endblock %}
		        {% endif %}

			</div><!-- /container -->
		</footer>
	{% endif %}
</div><!-- /page-container -->

{% if page.tracking_footer %}
  {% block tracking_footer %}{{ page.tracking_footer }}
  {% endblock %}
{% endif %}