{#
/**
 * @file
 * Default theme implementation to display a single interior page page.
 * CUSTOM
#}

{# Navbar #}
<nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
	<div class="container">
		{{ page.navigation_left }}
		<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse collapse" id="navbarsExample01" style="">
			{{ page.navigation_right }}
		</div>
	</div>
</nav>

<div class="page-container">

	{# Main #}

		{% if is_front %}

			{% if page.home_jumbotron %}
				{{ page.home_jumbotron }}
			{% endif %}

			{% if page.home_block_1 %}
				<section class="home-block-1">
					<div class="inner container">
						{{ page.home_block_1 }}
					</div>
				</section>
			{% endif %}

			{% if page.home_block_2 %}
				<section class="home-block-2">
					<div class="inner container">
						{{ page.home_block_2 }}
					</div>
				</section>
			{% endif %}	

			{% if page.home_block_3 %}
				<section class="home-block-3">
					<div class="inner container">
						{{ page.home_block_3 }} 
					</div>
				</section>
			{% endif %}

		{% else %}
			{% if page.interior_jumbotron %}
				{{ page.interior_jumbotron }}
			{% endif %}
			<div id="main_content" role="main" class="main-container-outer js-quickedit-main-content">


				<div class="main-container" >
					{# Interior #}

					{# Sidebar First #}
					{% if page.sidebar_first %}
						<aside class="col col-sm-6" role="complementary">
						{{ page.sidebar_first }}
						</aside>
					{% endif %}

					{# Content #}
					{%
					set content_classes = [
					page.sidebar_first and page.sidebar_second ? 'col col-sm-6',
					page.sidebar_first and page.sidebar_second is empty ? 'col col-sm-6',
					page.sidebar_second and page.sidebar_first is empty ? 'col col-sm-9',
					page.sidebar_first is empty and page.sidebar_second is empty ? 'col col-sm-12'
					]
					%}
					<section{{ content_attributes.addClass(content_classes) }}>

						{# Highlighted #}
						{% if page.highlighted %}
						<div class="highlighted">{{ page.highlighted }}</div>
						
						{% endif %}

						{# Breadcrumbs #}
						{% if breadcrumb %}
						{{ breadcrumb }}
						
						{% endif %}

						{# Action Links #}
						{% if action_links %}
						<ul class="action-links">{{ action_links }}</ul>
						{% endif %}

						{# Help #}
						{% if page.help %}
						{{ page.help }}       
						{% endif %}

						{# Non-home Content #}
						{{ page.content }}

					</section>



					{# Sidebar Second #}
					{% if page.sidebar_second %}
					<aside class="col col-sm-3" role="complementary">
					{{ page.sidebar_second }}
					</aside>
					{% endif %}
					
				</div>
			</div><!-- /main-container -->
		{% endif %}

	{% if page.after_content %}
		  <div class="after-content">
  			{{ page.after_content }}
      	  </div>
	{% endif %}	

	{% if page.footer_action %}
		  <div class="footer-action">
  			{{ page.footer_action }}
          </div>
	{% endif %}	

	{% if (page.footer_top_center) or (page.footer_upper_left) or (page.footer_upper_right) or (page.footer_lower_left) or (page.footer_lower_right) or (page.footer_bottom_center) %}
		<footer class="main-footer-outer">
			<div class="main-footer container">
				
					{% if page.footer_top_center %}
						<div class="footer-top-outer row">
							<div class="footer-top-center">{{ page.footer_top_center }}</div>
						</div>
					{% endif %}
				

					{% if page.footer_upper_left or page.footer_upper_right %}
						<div class="footer-upper-outer row">
							{% if page.footer_upper_left %}
									<div class="footer-upper-left col-sm-6">{{ page.footer_upper_left }}</div>	
							{% endif %}
							
							{% if page.footer_upper_right %}
								<div class="footer-upper-right col-sm-6">{{ page.footer_upper_right }}</div>
							{% endif %}
						</div>
					{% endif %}

					{% if page.footer_center_center %}
						<div class="footer-center-outer row">
							{% if page.footer_center_center %}
								<div class="footer-center-center col col-sm-12">{{ page.footer_center_center }}</div>
							{% endif %}
						</div>
					{% endif %}

					{% if page.footer_lower_left or page.footer_lower_right %}
						<div class="footer-lower-outer row">			
							{% if page.footer_lower_left %}
								<div class="footer-lower-left col-sm-6">{{ page.footer_lower_left }}</div>
							{% endif %}
							{% if page.footer_lower_right %}
								<div class="footer-lower-right col-sm-6">{{ page.footer_lower_right }}</div>
							{% endif %}	
						</div>
					{% endif %}

					{% if page.footer_bottom_center %}
						<div class="footer-bottom-outer row">
							<div class="footer-bottom-center">{{ page.footer_bottom_center }}</div>
						</div>
					{% endif %}

					{% if page.disclaimer %}
						<div class="disclaimer-outer row">
							<div class="disclaimer">
								{{ page.disclaimer }}
							</div>
						</div>
					{% endif %}

			</div>
		</footer>
	{% endif %}

</div><!-- /page-container -->

{% if page.tracking_footer %}
	{{ page.tracking_footer }}
{% endif %}